/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; 
    font-family: 'Libre Franklin', sans-serif;
}

.container {
    max-width: 640px;
    margin: 0 auto;
}

nav {
    margin: 86px 0 59px 0;
    text-align: center;
}

nav img {
    height: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text h1, .text p {
    text-align: center;
}

.text h1 {
    color: hsl(0, 0%, 59%);
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 17px;
}

.text h1 span {
    font-weight: 700;
    color: black;
}

.text p {
    font-size: 1.2rem;
    margin-bottom: 39px;
}

.email {
    margin-bottom: 93px;
    width: 100%;
}

.email form {
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.email form input {
    padding-left: 35px;
    height: 100%;
    width: 423px;
    border-radius: 28px;
    border: 1px solid hsl(223, 100%, 88%);
    outline: none;
}

.email small {
    display: none;
}

.email.error small {
    margin-top: 11px;
    display: block;
    padding-left: 37px;
    font-size: 0.7rem;
    font-style: italic;
    color: hsl(354, 100%, 66%);
}

.email.error form input {
    border: 1px solid hsl(354, 100%, 66%);
}

.email.error form input::placeholder {
    color: hsl(354, 100%, 66%);
}


.email form input::placeholder {
    font-size: 1rem;
    color: hsl(223, 100%, 88%);
}

.email form button {
    height: 100%;
    width: 202px;
    border-radius: 28px;
    border: none;
    background-color: hsl(223, 87%, 63%);
    color: white;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 8px 10px 0 hsl(223, 100%, 88%);
}

.email form button:hover {
    background-color: #7195f5;
}

.img img {
    width: 100%;
    max-height: 387px;
    margin-bottom: 72px;
}

footer .icons {
    display: flex;
    justify-content: center;
    margin-bottom: 29px;
}

.icons a {
    width: 30px;
    height: 30px;
    color: hsl(223, 87%, 63%);
    margin-left: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid hsl(223, 100%, 88%);
    border-radius: 50%;
    font-size: .9rem;
}


.icons a:hover {
    background-color: hsl(223, 87%, 63%);
    color: white;
}

footer p {
    margin-bottom: 49px;
    text-align: center;
    font-size: .8rem;
    color: hsl(0, 0%, 59%);
}

@media(max-width:650px) {
    .email form {
    flex-direction: column;
    padding: 0 38px;
    height: 100%;
    }

    .email form input, .email form button {
        width: 100%;
        height: 56px;
        margin-bottom: 20px;
    }

    .email.error small {
        margin:-9px 0 20px 0;
    }



}